.devicon-container {
    max-height: 100px;
    max-width: 100px;
    margin: 2 2;
    overflow: hidden;
}

.devicon {
    height: calc(inherit - 80%);
    width: calc(inherit - 80%);
    margin: auto;
}